@font-face {
    font-family: "SilkscreenB";
    src: url(fonts/Silkscreen/slkscrb.ttf);
}

@font-face {
    font-family: "Silkscreen";
    src: url(fonts/Silkscreen/slkscr.ttf);
}

body {
    background-color: #00330F;
    margin: 0;
    font-family: "SilkscreenB", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #00330F;
    padding: 0 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header img {
    height: 32px;
    width: auto;
}

.header-title {
    margin: 12px;
}

.content {
    background-color: #7ACC93;
    flex: 1;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tree img {
    height: 600px;
    margin-top: -16px;
}

.presents {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -110px;
}

.present {
    height: 145px;
    width: auto;
    margin: -4px -2px;
}

.footer {
    background-color: #00330F;
    font-family: "Silkscreen", sans-serif;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-box {
    position: absolute;
    width: 95px;
    height: 32px;
    font-size: 16px;
    padding: 5px;
    color: teal;
    outline: none;
    border: 3px solid rgb(0, 85, 57);
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}