@font-face {
    font-family: "SilkscreenB";
    src: url(fonts/Silkscreen/slkscrb.ttf);
}

@font-face {
    font-family: "Silkscreen";
    src: url(fonts/Silkscreen/slkscr.ttf);
}

body {
    background-color: #00330F;
    margin: 0;
    font-family: "SilkscreenB", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #00330F;
    padding: 0 16px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header img {
    height: 32px;
    width: auto;
}

.header-title {
    margin: 12px;
}

.content {
    background-color: #7ACC93;
    flex: 1;
}

.tree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tree img {
    height: 600px;
    margin-top: -16px;
}

.presents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present {
    height: 145px;
    width: auto;
    margin: -4px -2px;
}

.footer {
    background-color: #00330F;
    font-family: "Silkscreen", sans-serif;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.presents {
    position: relative;
    margin-top: -110px;
}